:root {
    --background-color: #fff;
    --primary-color: #353535;
    --primary-text-color: #06d6a0;
    --secondary-text-color: #96939b;
    --font-size: 16px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
}

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    background: var(--background-color);
    color: var(--primary-color);
    letter-spacing: 1px;
}

.app__title {
    font-size: 0.75rem;
    padding: 0.25rem;
    margin: 0;
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase
}

.app__container {
    display: flex;
    height: 100vh;
    padding: 1rem;
}

.app__body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.app__input,
.app__output {
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.app__input {
    border: none;
    outline: none;
    color: var(--secondary-text-color);
    background: transparent;
    resize: none;
    height: 100vh;
}

.app__output {
    color: var(--primary-text-color);
}
