:root {
	--background-color: #000;
	--primary-text-color: #fff;
	--secondary-bg-color: #4a4a4a;
	--font-size: 16px;
}

html,
body {
	padding: 0;
	margin: 0;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: var(--font-size);
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
	background:	 var(--background-color);
	color: var(--primary-text-color);
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: relative;
	padding: 15px;
}

.calculation {
	display: flex;
	flex-direction: row;
	min-height: 18px;
	margin-bottom: 2px;
	padding: 2px;
}
.calculation-area {
	border: none;
	flex: 1;
	outline: none;

}

.result {
	width: 100px;
}

footer {
	align-items: center;
	background: var(--secondary-bg-color);
	display: flex;
	flex-direction: row-reverse;
	height: 50px;
	width: 100vw;
}

footer span {
	margin-right: 10px;
}