@font-face {
    font-family: 'open_sansregular';
    src: url('../static/OpenSans.woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --light-color: #fff;
    --dark-color: #202646;
    --light-text-color: #ffd631;
    --dark-text-color: #ff8414;
    --result-text-color: #00ff76;
    --font-size: 16px;
    --icon-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(121deg) brightness(107%) contrast(104%);
    --icon-black: invert(0%) sepia(10%) saturate(7500%) hue-rotate(16deg) brightness(108%) contrast(93%);
    --icon-color: var(--icon-black);
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
}

body {
    font-family: 'open_sansregular';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    background: var(--light-color);
    color: var(--dark-color);
    letter-spacing: 1px;
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    background: var(--light-color);
    overflow: hidden;
    display: none;
}

.modal__body {
    padding: 4rem 2rem 1rem;
}

.modal__head,
.app__head {
    padding: 1rem;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: var(--light-color);
    width: 100vw;
    user-select: none;
    -webkit-app-region: drag;
}

.modal__title,
.app__title {
    font-size: 0.75rem;
    margin: 0;
    text-align: center;
    color: var(--dark-color);
    text-transform: uppercase;
}

.modal__controls,
.app__controls {
    -webkit-app-region: no-drag;
}

.modal__controls,
.app__controls>i:nth-child(odd) {
    margin-right: 4px;
}

.modal__controls>i:hover,
.app__controls>i {
    transition: 1s opacity;
}

.modal__controls>i:hover,
.app__controls>i:hover {
    opacity: 1;
}

.theme-switcher {
    display: flex;
}

label {
    font-size: 0.75rem;
}

label::after {
    content: ':';
}

.icon {
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: bottom;
    width: 12px;
    height: 12px;
    filter: invert(19%) sepia(6%) saturate(19%) hue-rotate(82deg) brightness(95%) contrast(91%);
}

.icon--minimize {
    background-image: url('../static/minimize.svg');
}

.icon--maximize {
    background-image: url('../static/maximize.svg');
}

.icon--close {
    background-image: url('../static/close.svg');
}

.icon--back {
    background-image: url('../static/back.svg');
    transform: scale(1.5);
}

.icon--settings {
    background-image: url('../static//menu.svg');
}

.app__container {
    display: flex;
    height: 100vh;
    padding: 4rem 1.5rem 1rem 1.5rem;
    flex-direction: column;
}

.app__output p {
    margin: 0;
    font-weight: 900;
    cursor: pointer;
    height: 1.1875rem;
}

.app__body {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    flex-direction: row;
    width: 100vw; */
    display: flex;
    height: 100%;
}

.app__input,
.app__output {
    width: 50%;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.1875rem;
}

.app__input {
    --resizeable-width: 300px;
    border: none;
    outline: none;
    color: var(--dark-text-color);
    background: transparent;
    resize: none;
    width: var(--resizeable-width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    overflow: hidden;
}

#handle {
  float: right;
  height: 100%;
  width: 1px;
  background-color: transparent;
  z-index: 1;
}

#handle::after {
  content: "";
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -4px;
  background-color: transparent;
  cursor: ew-resize;
  z-index: 2;
}

.app__output {
    --resizeable-width: 25%;
    color: var(--result-text-color);
    text-align: center;
    width: var(--resizeable-width);
    border-left: 1px solid #e3e3e3;
    overflow: hidden;
}

.app__total_container {
    display: flex;
    justify-content: center;
}

#app__total__output {
    margin: 0px 10px;
}

/* Dark Mode */

[data-theme^='dark'] body {
    background: var(--dark-color);
    color: var(--light-color);
}

[data-theme^='dark'] .modal {
    background: var(--dark-color);
}

[data-theme^='dark'] .modal__title,
[data-theme^='dark'] .app__title {
    color: var(--light-color);
}

[data-theme^='dark'] .modal__head,
[data-theme^='dark'] .app__head {
    background: var(--dark-color);
}

[data-theme^='dark'] .app__input {
    color: var(--light-text-color);
}

[data-theme^='dark'] .icon {
    filter: invert(98%) sepia(3%) saturate(167%) hue-rotate(326deg) brightness(118%) contrast(100%);
}
