:root {
    --light-color: #fff;
    --dark-color: #353535;
    --text-color: #06d6a0;
    --font-size: 16px;
    --icon-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(121deg) brightness(107%) contrast(104%);
    --icon-black: invert(0%) sepia(10%) saturate(7500%) hue-rotate(16deg) brightness(108%) contrast(93%);
    --icon-color: var(--icon-black);
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
}

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    background: var(--light-color);
    color: var(--dark-color);
    letter-spacing: 1px;
    -webkit-app-region: drag
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    background: var(--light-color);
    overflow: hidden;
    display: none;
}

.modal__body {
    padding: 1rem 2rem;
}

.modal__head,
.app__head {
    padding: 1rem;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__title,
.app__title {
    font-size: 0.75rem;
    margin: 0;
    text-align: center;
    color: var(--dark-color);
    text-transform: uppercase;
}

.modal__controls,
.app__controls {
    -webkit-app-region: no-drag;
}

.modal__controls,
.app__controls>i:nth-child(odd) {
    margin-right: 4px;
}

.modal__controls,
.app__controls>i:hover {
    opacity: 1;
}

.icon {
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: bottom;
    width: 12px;
    height: 12px;
    filter: invert(19%) sepia(6%) saturate(19%) hue-rotate(82deg) brightness(95%) contrast(91%);
}

.icon--minimize {
    background-image: url('../static/minimize.svg');
}

.icon--close {
    background-image: url('../static/close.svg');
}

.icon--settings {
    background-image: url('../static//menu.svg')
}

.app__container {
    display: flex;
    height: 100vh;
    padding: 1rem 2rem;
}

.app__body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.app__input,
.app__output {
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.app__input {
    border: none;
    outline: none;
    color: var(--dark-color);
    background: transparent;
    resize: none;
    height: 100vh;
}

.app__output {
    color: var(--text-color);
}


/* Dark Mode */

body.dark {
    background: var(--dark-color);
    color: var(--light-color);
}

body.dark>.modal {
    background: var(--dark-color);
}

body.dark .modal__title,
body.dark .app__title {
    color: var(--light-color);
}

body.dark .app__input {
    color: var(--light-color)
}

body.dark .icon {
    filter: invert(98%) sepia(3%) saturate(167%) hue-rotate(326deg) brightness(118%) contrast(100%);
}
